@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section-title h2 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title h2 {
    font-size: 35px;
  }
  .single-service h3 {
    font-size: 18px;
  }
  .latest-portfolio .ficon {
    left: -20px;
  }
  .latest-portfolio .ficon.fa-chevron-right {
    right: -20px;
  }
}
@media only screen and (max-width: 767px) {
  header.header {
    width: 60%;
  }
  header.header .col-md-3.col-6 {
      min-width: 100%;
  }
  .logo a {
    text-align: center;
  }
  .mainmenu {
    text-align: center;
    margin-bottom: 5px;
  }
  .section-title h2 {
    font-size: 24px;
  }
  .section-title.mt-50 {
    margin-top: 15px;
  }
  .top-banner .title {
      font-size: 24px;
  }
  .single-portfolio h4 {
    font-size: 18px;
  }
  .single-portfolio h5 {
    font-size: 14px;
  }
  .brand-logo img {
    height: auto;
    margin-bottom: 10px;
  }
  a.box-btn {
      font-size: 16px;
  }
  .contact-box a.box-btn {
    padding: 8px 20px;
  }
  .mt-100 {
    margin-top: 0px;
  }
  .copyright {
    text-align: center;
  }
  .footer-menu {
    text-align: center;
  }
  .latest-portfolio .ficon {
    display: none;
  }
  .price-btn {
    text-align: left;
    margin-top: 15px;
  }
  .pricing-box .title h2 {
    font-size: 26px;
  }
  .xs-mt15 {
    margin-top: 15px;
  }

}
